.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  padding: 3%;
}

.dialogsItems {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

.messages {
  padding: 10px;
}
